@model IEnumerable<BestDesign.Models.Product>

@{
    ViewData["Title"] = "Index";
}

@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@*<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Topic)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Image)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Topic)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>*@


<div class="bg-secondary text-center rounded p-4">
    <div class="d-flex align-items-center justify-content-between mb-4">
        <h6 class="mb-0">Products</h6>

    </div>
    <div class="table-responsive">
        <table class="table text-start align-middle table-bordered table-hover mb-0">
            <thead>
                <tr class="text-white">

                    <th scope="col">  @Html.DisplayNameFor(model => model.Title)</th>
                    <th scope="col">  @Html.DisplayNameFor(model => model.Image)</th>
                    <th scope="col">  @Html.DisplayNameFor(model => model.Date)</th>
                    <th scope="col">  @Html.DisplayNameFor(model => model.Topic)</th>
                    <th scope="col">  @Html.DisplayNameFor(model => model.Price)</th>
               
                    
                    <th></th>

                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>

                        <td> @Html.DisplayFor(modelItem => item.Title)</td>
                        <td><img class="img-fluid" src="~/Imgs/@Html.DisplayFor(modelItem => item.Image)" style="width:90px; height:60px;" alt=""></td>
                        <td>@Html.DisplayFor(modelItem => item.Date)</td>
                        <td>@Html.DisplayFor(modelItem => item.Topic)</td>
                        <td>@Html.DisplayFor(modelItem => item.Price)</td>

                        <td>

                  

                            <a class="btn btn-sm btn-info" asp-action="Details" asp-route-id="@item.Id">Details</a>

                            <a class="btn btn-sm btn-danger" asp-action="DeleteAdmin" asp-route-id="@item.Id">Delete</a>
                        </td>

                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>