@model IEnumerable<BestDesign.Models.TimeSheet>

@{
    ViewData["Title"] = "Index";
}
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}





<div class="bg-secondary text-center rounded p-4">
    <div class="d-flex align-items-center justify-content-between mb-4">
        <h6 class="mb-0">Time Sheet</h6>
      

    </div>
    <div class="table-responsive">
        <table class="table text-start align-middle table-bordered table-hover mb-0">
            <thead>
                <tr class="text-white">
                    <th scope="col"> @Html.DisplayNameFor(model => model.UserId)</th>
                    <th scope="col"> @Html.DisplayNameFor(model => model.StartTime)</th>
                    <th scope="col"> @Html.DisplayNameFor(model => model.EndTime)</th>
               
                    <th></th>

                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.UserId)</td>
                        <td> @Html.DisplayFor(modelItem => item.StartTime)</td>
                        <td>@Html.DisplayFor(modelItem => item.EndTime)</td>
                     

                       

                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
